SimpleJAXWSClientWeb/WebContent/WEB-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="HelloService" targetNamespace="http://server.jaxws.simple/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.jaxws.simple/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.jaxws.simple/" schemaLocation="HelloService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sleep">
    <part element="tns:sleep" name="parameters">
    </part>
  </message>
  <message name="sleepResponse">
    <part element="tns:sleepResponse" name="parameters">
    </part>
  </message>
  <message name="sayHello">
    <part element="tns:sayHello" name="parameters">
    </part>
  </message>
  <message name="ping">
    <part element="tns:ping" name="parameters">
    </part>
  </message>
  <message name="sayHelloResponse">
    <part element="tns:sayHelloResponse" name="parameters">
    </part>
  </message>
  <portType name="Hello">
    <operation name="sleep">
      <input message="tns:sleep" wsam:Action="http://server.jaxws.simple/Hello/sleepRequest">
    </input>
      <output message="tns:sleepResponse" wsam:Action="http://server.jaxws.simple/Hello/sleepResponse">
    </output>
    </operation>
    <operation name="sayHello">
      <input message="tns:sayHello" wsam:Action="http://server.jaxws.simple/Hello/sayHelloRequest">
    </input>
      <output message="tns:sayHelloResponse" wsam:Action="http://server.jaxws.simple/Hello/sayHelloResponse">
    </output>
    </operation>
    <operation name="ping">
      <input message="tns:ping" wsam:Action="http://server.jaxws.simple/Hello/ping">
    </input>
    </operation>
  </portType>
  <binding name="HelloPortBinding" type="tns:Hello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sleep">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="HelloService">
    <port binding="tns:HelloPortBinding" name="HelloPort">
      <soap:address location="http://localhost:9080/SimpleJAXWSWeb/HelloService"/>
    </port>
  </service>
</definitions>